@charset "utf-8";
/* CSS Document */
* {margin:0; padding:0;}
body {background:#fff; font-family: 'Open Sans', sans-serif; font-size:15px; color:#333;}
h1, h2, h3, h4, h5{font-family: 'Lora', serif;}
h1, h2{font-size:30px!important;font-weight:700;}
h1 span, h2 span {font-size:16px;display:block; font-weight:400; margin-bottom: 10px;}
h3 {font-size:20px;}
p{line-height:30px;}
.vt_read_more{color:#ff6600; font-size:13px;}
.vt_read_more:hover{color:#333; text-decoration:none;}
.vt_large_btn{padding:15px 50px; font-size:16px; display:block; text-align:center; font-weight:700; letter-spacing:3px; text-transform:uppercase; border:1px solid #ccc; color:#333; border-radius:0px; min-height:inherit;margin-top:20px;}
.vt_large_btn:hover {background:#333!important;color:#fff;border:1px solid #333!important;}
.vt_header .vt_logo {    margin-top: 15px; margin-bottom:15px;}
.vt_header .vt_top_contdetail {    margin-top: 20px;}
.vt_header .vt_top_contdetail ul {margin:0; padding:0; float:right;}
.vt_header .vt_top_contdetail ul li {display:inline-block; font-size:15px; font-weight:300;color:#333; margin-left: 20px;  padding-right: 20px; border-right:1px solid #333;}
.vt_header .vt_top_contdetail ul li:last-child {border-right:none; padding-right:0px;} 
.vt_header .navbar-default {background-color:inherit; border-color:inherit;border: none;    float: right;    margin-top: 15px;    min-height: inherit;}
.vt_header .navbar-default .container-fluid {padding:0px;}
.vt_header .navbar-default .container-fluid .navbar-collapse{padding:0px;}
.vt_header .navbar-default .navbar-nav>li {margin-left:40px; display:inline-block; float:none; vertical-align:middle; }
.vt_header .navbar-default .navbar-nav>li:first-child {margin-left:0px;}
.vt_header .navbar-default .navbar-nav>li>a {padding:0px; font-weight:700; font-size:16px; text-transform:uppercase; color:#333;}
.vt_header .navbar-default .navbar-nav>li>a.vt_buy {background:#ff6600; color:#fff; padding:5px 10px; border-radius:4px;}
.vt_header .navbar-default .navbar-nav>li>a.vt_buy:hover  {background:#333;}
.vt_top_contdetail ul li a {color:#333;}
.vt_banner_row #carousel-example-generic{height:700px; overflow:hidden;}
.vt_banner_row .carousel-caption{    top:200px; bottom:inherit; right: 30%; left: 30%;}
.vt_banner_row .carousel-caption h2 {text-shadow:none; font-size:40px!important;}
.vt_banner_row .carousel-caption p {text-shadow:none; font-size:20px;}
.vt_banner_row .carousel-indicators {bottom: inherit;top:500px;}
.vt_banner_row .carousel-indicators li {background:#fff; border:none; width:12px; height:12px; margin:0px 1px;}
.vt_banner_row .carousel-indicators .active{background:#ff6600;}
.vt_banner_row img {width:100%;}
.vt_about_row {padding-bottom:200px;margin-top: -100px;color: #333; background:url(../images/about_bg.jpg) no-repeat scroll; background-attachment:fixed; background-size:cover;}
.vt_about_row .vt_col_inner {border: 1px solid #ccc; padding: 15px; background:#fff;}
.vt_about_row .vt_col_inner h3 {margin-top:0px;}
.vt_about_row .vt_col_inner h3 span.vt_company_title {float:left;}
.vt_about_row .vt_col_inner h3 span.vt_series {font-size:55px; float:right; color:#999999; font-weight:700;line-height: 40px;}
.vt_about_row .vt_col_inner p {line-height:normal;}
.vt_about_row .vt_content_inner {margin-top:75px;}
.vt_about_row .vt_content_inner .vt_findoutmore {float:left;}
.vt_mobile_app {padding-top:200px; padding-bottom:200px; border-top:1px solid #ccc; color: #fff; background:url(../images/download_app.jpg) no-repeat scroll; background-attachment:fixed; background-size:cover;}
.vt_mobile_app .vt_download_section {text-align:right;}
.vt_mobile_app .vt_download_section .vt_download_btn {background:#ff6600; color:#fff; float:right;border:1px solid #ff6600; }
.vt_testimonials_wrapper {padding-top:200px; padding-bottom:225px; border-top:1px solid #ccc;color: #333; background:url(../images/client_testimonials.jpg) no-repeat scroll; background-attachment:fixed; background-size:cover;}
.vt_testimonials_wrapper .vt_testimonials {text-align:center;}
.vt_testimonials_wrapper .vt_testimonials figure.vt_client_pic {width: 100px;height: 100px; display: block; margin: 0 auto; overflow: hidden; border-radius:100px; margin-top:40px; border: 1px solid #ccc;    margin-bottom: 15px;}
.vt_testimonials_wrapper .vt_testimonials figure.vt_client_pic img {min-width:100px;}
.vt_testimonials_wrapper .vt_testimonials .vt_testimonial_quote:before {content: "\f10d";font-family: FontAwesome;display: inline-block;padding-right:8px; font-size:24px; color:#ff6600; }
.vt_testimonials_wrapper .vt_testimonials .vt_testimonial_quote:after {content: "\f10e";font-family: FontAwesome;display: inline-block;padding-left:8px; font-size:24px; color:#ff6600; vertical-align:bottom;}
.vt_testimonials_wrapper .vt_testimonials .vt_client_testimonials .vt_client_nameloc span {font-family: 'Lora', serif; font-size:15px; font-style:italic; color:#ff6600; display:block; font-weight:700;}
.vt_testimonials_wrapper .vt_testimonials .carousel-indicators {bottom: -40px;}
.vt_testimonials_wrapper .vt_testimonials .carousel-indicators li {background-color:#333;width: 12px;height: 12px;margin:0px 1px;}
.vt_testimonials_wrapper .vt_testimonials .carousel-indicators .active {background-color:#ff6600;}
.vt_clients_wrapper{padding-top:200px; padding-bottom:200px; border-top:1px solid #ccc;color: #fff; background:url(../images/our_partners.jpg) no-repeat scroll; background-attachment:fixed; background-size:cover;}
.vt_clients_wrapper .vt_partner_btn {float:right; margin-top:135px; margin-right:15px;color: #fff;background: #ff6600;border:1px solid #ff6600;}
.vt_clients_wrapper .vt_clients_logo_wrapper {margin-top:40px;}
.vt_clients_wrapper .vt_clients_logo_wrapper .carousel-control.left {background-image:inherit;}
.vt_clients_wrapper .vt_clients_logo_wrapper .carousel-control.right {background-image:inherit;}
.vt_clients_wrapper .vt_clients_logo_wrapper .carousel-control {width: 5%;}
.vt_clients_wrapper .vt_clients_logo_wrapper .vt_client { background:#f2f2f2;min-height:40px;}
.vt_footer_wrapper {background:#333; padding-top:10px; padding-bottom:10px; color:#fff;}
.vt_footer_wrapper .vt_foot_cdetail {border-left:3px solid #fff;}
.vt_footer_wrapper .vt_foot_cdetail p {line-height:normal; font-size:15px; margin-bottom:0px;}
.vt_footer_wrapper .vt_foot_cdetail h3 {line-height:25px; font-size:18px; font-family: 'Open Sans', sans-serif;margin-bottom:0px; margin-top:0px;}
.vt_footer_wrapper .vt_foot_cdetail p.vt_foot_small_txt {line-height:normal; font-size:13px; margin-bottom:0px;}
.vt_footer_wrapper .vt_foot_cdetail p.vt_foot_small_txt a.vt_view_map {color:#ff6600;}
.vt_footer_wrapper .vt_foot_cdetail p.vt_foot_small_txt a.vt_view_map:hover {color:#fff; text-decoration:none;}
.vt_footer_wrapper .vt_foot_nav_wrap {margin-top:50px;}
.vt_footer_wrapper .vt_foot_nav_wrap .vt_logo_foot {padding-left:0px;}
.vt_footer_wrapper .vt_foot_nav_wrap h3{font-size:16px;font-family: 'Open Sans', sans-serif; font-weight:700; margin-bottom:20px;}
.vt_footer_wrapper .vt_foot_nav_wrap ul{margin:0; padding:0;}
.vt_footer_wrapper .vt_foot_nav_wrap ul li {display:list-item; list-style:none; line-height:30px;font-size:16px;}
.vt_footer_wrapper .vt_foot_nav_wrap ul li a {color:#fff;}
.vt_footer_wrapper .vt_foot_nav_wrap ul li a:hover {color:#ff6600; text-decoration:none;}
.vt_footer_wrapper .vt_foot_nav_wrap .vt_subscribe_newsletter label {font-weight:normal; margin-bottom:15px; font-size:16px;line-height:30px;}
.vt_footer_wrapper .vt_foot_nav_wrap .vt_subscribe_newsletter .vt_subinput {float:left; width:60%;border-radius:0px;border:none; height:45px;}
.vt_footer_wrapper .vt_foot_nav_wrap .vt_subscribe_newsletter .vt_submit{float:left; width:35%;border-radius:0px; background:#ff6600;color:#fff; border:none;height:45px; font-size:16px; text-transform:uppercase; letter-spacing:3px; text-align:center;}
.vt_copyright_wrapper{background:#2a2a2a; padding-top:10px; padding-bottom:10px;}
.vt_copyright_wrapper p{font-size:14px; color:#585858; margin-bottom:0px; line-height:normal; text-align:center;}
/****Add New Class*****/
.fixed-header {height: auto;position: fixed;width: 100%;z-index: 99;background:#fff;border-bottom: 1px solid #ccc;}
.main-wrapper {overflow:hidden;}
/*multi item slider*/

ul.footerNav { margin: 30px 0; padding: 0;text-align: right;}
ul.footerNav li{ margin: 0; padding: 0;list-style: none;}
#menu-footer-menu li {list-style: none;display: inline-block;margin: 0;padding: 0;text-transform: uppercase;}
#menu-footer-menu li a{text-transform: uppercase; color:#fff; font-weight: bold;padding: 8px;}
#menu-footer-menu li a:hover{text-decoration: none;}
#menu-footer-menu li:last-child a{
    /*background: #ff6600;*/
    color: #fff;
    border-radius: 4px;
}
#menu-footer-menu li:last-child a:hover{
    /*background: #454444;*/
}

.banner_top_title
{
    top: 65px;
    bottom: inherit;
    right: 30%;
    left: 30%;
    position: absolute;
    text-align: center;
    background-color: rgb(0,0,0);
    opacity: 0.9;
}


.banner_top_title h1
{
	color:#fff;
	font-size:35px!important;
	padding:15px;
	text-transform:uppercase;
}

.vt_banner_row, .vt_banner_row h2, .vt_banner_row, .vt_banner_row h3, .vt_banner_row p {font-family: 'Open Sans', sans-serif;}
.vt_banner_row .carousel-caption { left:0; right:0; }
.slider_caption_wrp {background: rgba(12, 62, 111, 0.7); padding: 50px 100px 20px; text-align: left; display:flex; justify-content: space-between; position:relative; overflow: hidden; }
.slider_caption_wrp:before {content: "";position: absolute;left: -93px;top: -157px;width: 150px;height: 350px;background: #f66300;transform: rotate(45deg);}
.slider_caption_wrp h2 { margin: 0 0 20px; text-transform:uppercase; font-weight:bold;}
.slider_caption_wrp p { font-size:20px; font-weight:300;}
.slider_text { flex: 0 0 42%; }
.slider_offer h3 { font-size:120px; color: #fff; font-weight:800; position:relative;}
.slider_offer h3 span{  font-size: 20px; color:#fff; font-weight: 300;position: absolute; left: 0; top: 0; }
.slider_offer h3 i { font-size: 20px;color: #fff;font-weight: 300; font-style: normal; }
@media only screen and (max-width:767px){
	.slider_caption_wrp { display:block; padding: 20px 75px 10px;}
	.vt_banner_row .carousel-caption h2 { font-size:28px !important; }
	.vt_banner_row .carousel-caption p, .slider_offer h3 span, .slider_offer h3 i { font-size:16px }
	.slider_offer h3{font-size:80px;}
	.vt_banner_row .carousel-caption { top:50%; transform: translateY(-50%);}
	.vt_banner_row .item > img { min-height: 100vh; object-fit: cover; }
}

.dropdown-menu{
   margin-top: 15px !important;
  border: none;
    border-radius: 0;padding:0 !important;}


.dropdown-menu>li>a {
  padding: 10px 23px;}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
   background-color: #ff6500;
    color: #fff;
    border-bottom: 1px solid #e8e1e1;
}

    #menu-footer-menu li.dropup .dropdown-menu li a{
color: #333 !important;
    text-transform: capitalize;
        font-weight: 400;
    padding: 10px 23px !important;
        
    }
    #menu-footer-menu li.dropup .dropdown-menu li:hover a{
    background-color: #ff6500 !important;
    color: #fff !important;
    border-bottom: 1px solid #e8e1e1;
    border-radius:0 !important;
    width:238px !important;
    }
    #menu-footer-menu li.dropup a .dropdown-menu a:focus{text-decoration:none !important;}
    #menu-footer-menu li a:focus{text-decoration:none !important;}
